DigitalOcean DNS is not RFC 6186 compliant

I raised a support ticket for this but I figure this might be a better place to raise it.

As per section 3.4 of RFC 6186 (https://tools.ietf.org/html/rfc6186#section-3.4), when creating SRV records:

> In addition, with SRV RRs it is possible to indicate that a
> particular service is not supported at all at a particular domain by
> setting the target of an SRV RR to ".".  If such records are present,
> clients MUST assume that the specified service is not available, and
> instead make use of the other SRV RRs for the purposes of determining
> the domain preference.

> Example: service records for IMAP and POP3 with both TLS and non-TLS
> service types are present.  Both IMAP and POP3 non-TLS service types
> are marked as not available.  IMAP (with TLS) has a lower-numbered
> priority value 0 than POP3 (with TLS) at priority 10, indicating to
> the MUA that IMAP is preferred over POP3, when the MUA can support
> either service, and only the TLS versions of the services are
> available.

>     _imap._tcp     SRV  0 0 0   .
>     _imaps._tcp    SRV  0 1 993 imap.example.com.
>     _pop3._tcp     SRV  0 0 0   .
>     _pop3s._tcp    SRV 10 1 995 pop3.example.com.

Currently when I attempt to create a record with a port of `0`, the API rejects the request and informs me that the port must be between 1 and 65535. The API also does not appear to accept `.` as the target, as it assumes I'm trying to create a record of `.example.com`.